.container {
    @include if-is-desktop {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        
    }
}

.board {
    h2 {
        text-align:center;
        padding:50px;
    }
    color:white;
    background: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100vh;
    @include if-is-desktop{}
}