.container {
    font-family: $main-font-family;

    
    @include if-is-desktop {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        
    }
}

.board {
    
    align-items: center;
    text-size:50px;
    color:white;
    background: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:100vh;
    //width: calc(90% - 20px);
    @include if-is-desktop{}
}

.boardtitle {
    display:flex;
    flex-order: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size:70px;
}

.board-item-01 {
    margin-top: 50px;
    font-size:30px;
    height: 600px;
    width: 600px;
    background: #8E8E8E;
    text-align: center;

    iframe {
        width:100%;
    }
}