// Font families
$main-font-family: 'Kollektif', sans-serif;
$titles_font_family: $main-font-family;
$body-font-family: $main-font-family;

// Font sizes
$font-size-base:14px;
$font-size-sm: $font-size-base - 3px;
$font-size-lg: $font-size-base + 3px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base colors
$color-mustard: #e79f37;
$color-orange: #d84b05;
$color-wine: #9f0100;
$color-gray-blue: #3a5c71;
$color-gray-light: #c9cad2;
$color-gray: #989399;
$color-gray-dark: #050510;
$color-black: #000;

// Components colors
$main-text-color: $color-black;
$body-background-color: lighten($color-mustard, 70%);

// Responsive variables
$desktop-width: 1026px;
$tablet-width: 737px;
$phone-width: $tablet-width - 1px;